<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/tag.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Angular
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="App/app.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" ng-app="myApp" ng-controller="myController">
        <div class="row">
            <div class="two columns">Interests</div>
            <div class="ten columns"><input type="text" ng-model="tag" ng-keypress="addTag($event)" /><button>ADD</button></div>
        </div>
        <div class="row">
            <div class="two columns">Interests</div>
            <div class="ten columns">
            <!--<ul>
            <li ng-repeat="mytag in mytags">{{mytag}}</li>
            </ul>-->
                <div class="t" ng-repeat="mytag in mytags">{{mytag}}<button class="tbutton" ng-click="cleartag()">x</button></div>
            </div>
        </div>
        
        <div class="row">
            <div class="two columns"></div> 
            <div class="ten columns"><div </div> 
        </div>

    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
